.navbar, .bnetID, .navbar-nav > li > a{
    font-family: 'Aldrich', sans-serif;
    color: #6AB1DD !important;
    border-radius: 0px;
}


p{
	color: #777;
}

.header{
    width: 100%;
}

.navbar-header{
    float: none;
    display: inline-block;
}

.header-center{
    background-image: url("resources/nav/headerBgMid.jpg");
    width: 100%;
    height: 4px;
}

h3{
	font-family: 'Aldrich', sans-serif;
	color: orange;
}

.navbar-brand {
    font-size: 24px;
    color: orange !important;
    padding: 0px;
    padding-top: 12%;
}

.header-top{
        background-image: url("resources/nav/headerBgTop.jpg");
        font-size: 24px;
        margin: 0px;
        border: none;
        padding-bottom: 4px;
}

.header-bottom{
    background-image: url("resources/nav/headerBgBottom.jpg");
    font-size: 16px;

}

.navbuttons{
    float: right !important;
}

.navbuttons li a{
    padding: 0px;
}

#history::after{
    content:url("resources/nav/historyBtn.png");
}

#history:hover:after{
    content:url("resources/nav/historyBtnHover.png");
}

#leaderboards:after{
    content:url("resources/nav/leaderboardsBtn.png");
}

#leaderboards:hover:after{
    content:url("resources/nav/leaderboardsBtnHover.png");
}

#profile:after{
    content:url("resources/nav/profileBtn.png");
}

#profile:hover:after{
    content:url("resources/nav/profileBtnHover.png");
}

#potg:after{
    content:url("resources/nav/potgBtn.png");
}

#potg:hover:after{
    content:url("resources/nav/potgBtnHover.png");
}

#guides:after{
    content:url("resources/nav/guidesBtn.png");
}

#guides:hover:after{
    content:url("resources/nav/guidesBtnHover.png");
}

#login:after{
    content:url("resources/nav/loginBtn.png");
}

#login:hover:after{
    content:url("resources/nav/LoginBtnHover.png");
}

#placeholder:after{
    content:url("resources/nav/shield_button.png");
}
